<html>
    <head>
        <title>500 | Pizone</title>
    </head>
    <body>
        <h1>500</h1>
        <h2>Resource <%= host %> </h2>
        <p>Connecting IP: <%= ip %></p>
        <p>Uptime <%= uptime %></p>
        <p>Error <%= error %></p>
    </body>
</html>